/* styles.css */

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background-color: #eaead9;
    color: beige;

}

.galerie {
    margin-top: 8%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 18%;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
    box-sizing: border-box;
}

.grid-galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.fleur {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.fleur:hover {
    transform: scale(1.02);
}

.fleur img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.fleur button {
    margin-top: 10px;
    padding: 10px;
    background-color: #a37781;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fleur button:hover {
    background-color: #865f6a;
}


main {
    margin-top: 8%; 
    margin-left: 42%;
    margin-right: 18%; 
    margin-bottom: 18%; 
    padding: 20px;
    color: #333;

    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #a37781;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #865f6a;
}


header {
    position: fixed;
    width: 100%;
    height: 16%;
    background-color: #a37781;
    z-index: 6;
    font-size: 70px;
    text-align: center;
    line-height: 1.5;
    color: #eaead9;
}

/* Sidebar gauche */
.sidebar-left {
    width: 18%;
    background-color: #cdaab3;
    color: #eaead9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 16%; /* sous le header */
    left: 0;
    padding-top: 20px;
}

/* Navigation dans la sidebar gauche */
.sidebar-left .nav {
    width: 100%;
    font-size: 30px;
}

.sidebar-left .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar-left .nav ul li {
    margin: 20px 0;
}

.sidebar-left .nav ul li a {
    text-decoration: none;
    color: #eaead9;
    transition: color 0.3s;
}

.sidebar-left .nav ul li a:hover {
    color: white;
}

/* Sidebar droite */
.sidebar-right {
    width: 18%;
    background-color: #e4d100;
    color: #eaead9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 16%;
    right: 0;
}

/* Footer */
footer {
    z-index: 6;
    background-color: #dfbfbe;
    width: 100%;
    height: 18%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
